<div class="benefits-wrapper">
    <table id="benefits-table" class="stripe">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Value</th>
                <th>Created At</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="search-text">Name</th>
                <th class="search-text">Category</th>
                <th class="search-text">Description</th>
                <th class="search-text">Value</th>
                <th class="d-none">Created At</th>
                <th class="d-none">Status</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>