<div class="modal-header">
    <h5 class="modal-title">{{modal_title|title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <ul class="modal-messages"></ul>
    <form id="benefit_categories_form" method="POST">
        <div class="row">
            <div class="col-12">
                <div class="mb-3">
                    <label for="{{benefit_categories_form.name.id_for_label}}" class="form-label">
                        <b>{{ benefit_categories_form.name.label }}</b>
                    </label>
                    {{ benefit_categories_form.name }}
                    <span class="form-error text-danger"></span>
                </div>
            </div>
            
            <div class="col-12">
                <div class="mb-3">
                    <label for="{{benefit_categories_form.status.id_for_label}}" class="form-label">
                        <b>{{ benefit_categories_form.status.label }}</b>
                    </label>
                    {{ benefit_categories_form.status }}
                    <span class="form-error text-danger"></span>
                </div>
            </div>
        </div>
        
        <div class="mb-3 d-flex justify-content-end">
            {% if mode == 'create' %}
                <input type="button" value="Create Benefit Category" data-link="{{uq.create_link}}" class="btn btn-success" id="submit-form-benefit-categories">
            {% elif mode == 'update' %}
                <input type="button" value="Update Benefit Category" data-uq="{{uq.hash}}" data-link="{{uq.update_link}}" class="btn btn-success" id="submit-form-benefit-categories">
            {% endif %}
        </div>
    </form>
</div>