<div class="detail-employees-list-wrapper">
    <table id="detail-employees-list-table" class="stripe">
        <thead>
            <tr>
                <th id="uq-emp-dept" style="visibility: hidden;">uq emp</th>
                <th>NIK</th>
                <th>Name</th>
                <th>Department</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="d-none">uq emp</th>
                <th class="search-text">NIK</th>
                <th class="search-text">Name</th>
                <th class="search-text">Department</th>
                <th class="d-none">Status</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>