<div class="d-flex justify-content-center">
    {% if perms.benefits.read_ptkp_type %}
        <span data-uq='{{hash}}' data-link="{{view_link}}" class="view-ptkp-type btn text-primary w-100">
            <i class="bi bi-eye"></i>
        </span>
    {% endif %}
    
    {% if perms.benefits.update_ptkp_type %}
        <span data-uq='{{hash}}' data-link="{{update_link}}" class="update-ptkp-type btn text-warning w-100">
            <i class="bi bi-pencil"></i>
        </span>
    {% endif %}

    {% if perms.benefits.delete_ptkp_type %}
        <span data-uq='{{hash}}' data-link="{{delete_link}}" class="delete-ptkp-type btn text-danger w-100">
            <i class="bi bi-trash"></i>
        </span>
    {% endif %}
</div>