<div class="ptkp-type-wrapper">
    <table id="ptkp-type-table" class="stripe">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="search-text">Name</th>
                <th class="search-text">Value</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>