{% extends 'base.html' %}
{% load static %}

{% block title %}
Find Me
{% endblock title %}

{% block script_css %}
<script>
</script>
<style>
    body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #B9D7EA;

  }
  ::-webkit-scrollbar {
    display: none;
  }

div.stock-wrapper{
    background-color: white;
    padding: 20px;
    border-radius: 16px;
}
 
</style>
{% endblock script_css %}

{% block content %}
{% include 'includes/navbar.html' %}
{% include 'includes/sidebar.html' %}

<div class="container">
    Home View
</div>
{% endblock content %}