{% extends 'base.html' %}
{% load static %}

{% block title %}
Find Me
{% endblock title %}

{% block script_css %}
<script>
</script>
<style>
    body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #B9D7EA;

  }
  ::-webkit-scrollbar {
    display: none;
  }

div.stock-wrapper{
    background-color: white;
    padding: 20px;
    border-radius: 16px;
}
 
</style>
{% endblock script_css %}

{% block content %}
{% include 'includes/navbar.html' %}
{% include 'includes/sidebar.html' %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Employees ()</h5>
                    <p class="card-text">Total Employees in the Company</p>
                    <a href="{% url 'employees:employees' %}" class="btn btn-primary">
						<i class="fa-solid fa-users"></i> Employees
					</a>
                </div>
            </div>
      </div>
      <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
      </div>
      <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
      </div>
    </div>
</div>
{% endblock content %}