<div class="emp-wrapper">
    <table id="emp" class="stripe">
        <thead>
            <tr>
                <th>NIK</th>
                <th>Name</th>
                <th>Join Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="search-text">NIK</th>
                <th class="search-text">Name</th>
                <th class="search-text">Join Date</th>
                <th class="search-text">Status</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>