body{
    background-color: #B9D7EA;
}

.form-wrapper{
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
    margin-top: 15%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

ul.errorlist{
    list-style-type: none;
    padding:0;
}

ul.errorlist > li, li.error{
    background-color: rgb(251, 201, 205);
    text-align: center;
    padding: 0.5rem;
    border-radius: 8px;
    margin-top: 10px;
}

ul.messages{
    list-style-type: none;
    padding:0;
}

li.info{
    background-color: rgb(186, 228, 209);
    text-align: center;
    padding: 0.5rem;
    border-radius: 8px;
    margin-top: 10px;
}