
<div class="modal-header">
    <h5 class="modal-title">{{modal_title|title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <ul class="modal-messages"></ul>
    <form id="add_departments_form" method="POST">
        {% for field in departments_form %}
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="{{field.id_for_label}}" class="form-label"><b>{{field.label}}</b></label>
                        {{field}}
                        <span class="form-error text-danger"></span>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for field in department_members_form %}
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="{{field.id_for_label}}" class="form-label"><b>{{field.label}}</b></label>
                        <span class="form-error text-danger"></span>
                        {{field}}
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for field in permission_group_form %}
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label for="{{field.id_for_label}}" class="form-label"><b>{{field.label}}</b></label>
                        <span class="form-error text-danger"></span>
                        {{field}}
                    </div>
                </div>

                <div class="mb-3">
                    <input type="button" class="btn btn-success" id="add-employee-departments" role="button" value="Add Employee">
                </div>
            </div>
        {% endfor %}

        

        <div class="mb-3">
            {% include 'departments/includes/departments_employees_table.html' %} 
        </div>

        <div class="mb-3 d-flex justify-content-end">
            {% if mode == 'create' %}
                <input type="button" value="Create Departments" data-link="{{uq.create_link}}" class="btn btn-success" id="submit-form-departments">
            {% elif mode == 'update' %}
                <input type="button" value="Update Departments" data-uq="{{uq.hash}}" data-link="{{uq.update_link}}" class="btn btn-success" id="submit-form-departments">
            {% endif %}
        </div>

        
    </form>

</div>