<div class="modal-header">
    <h5 class="modal-title">{{modal_title|title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <ul class="modal-messages"></ul>
    <form id="leaves_form" method="POST">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="{{leaves_form.name.id_for_label}}" class="form-label">
                        <b>{{ leaves_form.name.label }}</b>
                    </label>
                    {{ leaves_form.name }}
                    <span class="form-error text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="{{leaves_form.description.id_for_label}}" class="form-label">
                        <b>{{ leaves_form.description.label }}</b>
                    </label>
                    {{ leaves_form.description }}
                    <span class="form-error text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="{{leaves_form.max_duration.id_for_label}}" class="form-label">
                        <b>{{ leaves_form.max_duration.label }}</b>
                    </label>
                    {{ leaves_form.max_duration }}
                    <span class="form-error text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="{{leaves_form.status.id_for_label}}" class="form-label">
                        <b>{{ leaves_form.status.label }}</b>
                    </label>
                    {{ leaves_form.status }}
                    <span class="form-error text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="d-flex justify-content-end">
                    {% if mode == 'create' %}
                    <input type="button" value="Create Leaves" data-link="{{uq.create_link}}" class="btn btn-success"
                        id="submit-form-leaves">
                    {% elif mode == 'update' %}
                    <input type="button" value="Update Leaves" data-uq="{{uq.hash}}" data-link="{{uq.update_link}}"
                        class="btn btn-success" id="submit-form-leaves">
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>