<div class="leaves-balances-employee-wrapper">
    <table id="leaves-balances-employee-table" class="stripe">
        <thead>
            <tr>
                <th id="uq-leave" style="visibility: hidden;">uq leave</th>
                <th>Leave Type</th>
                <th>Leave Description</th>
                <th>Balance</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="d-none">uq leave</th>
                <th class="search-text">Leave Type</th>
                <th class="search-text">Leave Description</th>
                <th class="search-text">Balance</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>