<div class="overtimes-wrapper">
    <table id="overtimes-table" class="stripe">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start At</th>
                <th>End At</th>
                <th>Created At</th>
                <th>Is Overtime</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="search-text">Name</th>
                <th class="search-text">Description</th>
                <th class="search-text">Start At</th>
                <th class="search-text">End At</th>
                <th class="d-none">Created At</th>
                <th class="d-none">Is Overtime</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>