<div class="presences-wrapper">
    <table id="presences-table" class="stripe">
        <thead>
            <tr>
                <th>NIK / Name</th>
                <th>Date</th>
                <th>Start At</th>
                <th>End At</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="search-text">NIK / Name</th>
                <th class="search-text">Date</th>
                <th class="search-text">Start At</th>
                <th class="search-text">End At</th>
                <th class="d-none">Status</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>