<div class="presence-users-wrapper">
    <table id="presence-users-table" class="stripe">
        <thead>
            <tr>
                <th id="uq-employee" style="visibility: hidden;">uq employee</th>
                <th>NIK / Name</th>
                <th>Department</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="d-none">uq employee</th>
                <th class="search-text">NIK / Name</th>
                <th class="search-text">Department</th>
                <th class="d-none">Status</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>