<div class="d-flex justify-content-center">
        <span data-uq="{{hash}}" data-link={{view_link}} class="view-permission btn text-primary w-100">
            <i class="bi bi-eye"></i>
        </span>
    
        <span data-uq="{{hash}}" data-link={{update_link}} class="update-permission btn text-warning w-100">
            <i class="bi bi-pencil"></i>
        </span>
    
        <span data-uq="{{hash}}" data-link={{delete_link}} class="delete-permission btn text-danger w-100">
            <i class="bi bi-trash"></i>
        </span>
</div>