<div class="modal-header">
    <h5 class="modal-title">{{modal_title|title}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <ul class="modal-messages"></ul>
    <form id="add_employees_form" method="POST">
        {% for field in user_form %}
        <div class="mb-3">
            <label for="{{field.id_for_label}}" class="form-label"><b>{{field.label}}</b></label>
            {{field}}
            <span class="form-error text-danger"></span>
        </div>
        {% endfor %}
        
        {% for field in employees_form %}
        <div class="mb-3">
            <label for="{{field.id_for_label}}" class="form-label"><b>{{field.label}}</b></label>
            {{field}}
            <span class="form-error text-danger"></span>
        </div>
        {% endfor %}

        <div class="mb-3 d-flex justify-content-end">
            {% if mode == 'create' %}
                <input type="button" value="Create Employees" data-link="{{uq.create_link}}" class="btn btn-success" id="submit-form-employees">
            {% elif mode == 'update' %}
                <input type="button" value="Update Employees" data-uq="{{uq.hash}}" data-link="{{uq.update_link}}" class="btn btn-success" id="submit-form-employees">
            {% endif %}
        </div>
    </form>
</div>