<div class="permission-wrapper">
    <table id="permission-table" class="stripe">
        <thead>
            <tr>
                <th>NIK / Email</th>
                <th>Name</th>
                <th>Department</th>
                <th>Group Name</th>
                <th>Permission</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="search-text">NIK / Email</th>
                <th class="search-text">Name</th>
                <th class="search-text">Department</th>
                <th class="d-none">Group Name</th>
                <th class="d-none">Permission</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>