<div class="departments-employees-wrapper">
    <table id="departments-employees-table" class="stripe">
        <thead>
            <tr>
                <th id="uq" style="visibility: hidden;">uq</th>
                <th id="uq-group" style="visibility: hidden;">uq group</th>
                <th>NIK</th>
                <th>Name</th>
                <th>Permission Group</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="d-none">uq</th>
                <th class="d-none">uq group</th>
                <th class="search-text">NIK</th>
                <th class="search-text">Name</th>
                <th class="search-text">Permission Group</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>