{% extends 'base.html' %}
{% load static %}

{% block title %}
Find Me
{% endblock title %}

{% block script_css %}
<script>
    $(function () {
        function initDataTable(){
            $('#emp').DataTable().destroy();
            $('#emp').DataTable({
                initComplete: function () {
                    // Apply the search
                    this.api()
                        .columns()
                        .every(function () {
                            var that = this;

                            $('input', this.footer()).on('keyup change clear', function () {
                                if (that.search() !== this.value) {
                                    that.search(this.value).draw();
                                }
                            });
                        });
                },

                ajax: {
                    url: '{% url "employees:fetch-employees" %}',
                    dataSrc: 'employees_data',
                },
                responsive: true,
                columnDefs: [
                    { targets: 4, width: "80px" },
                    { targets: 5, width: "100px" },
                ],
                columns: [
                    {
                        data: 'nik',
                        defaultContent: '-',
                    },
                    {
                        data: 'name',
                        defaultContent: '-',
                    },
                    {
                        data: 'address',
                        defaultContent: '-',
                    },
                    {
                        data: 'created_at',
                        defaultContent: '-',
                    },
                    {
                        data: 'status',
                        render: function (data, type, row) {
                            if (data === 1) {
                                return '<span class="badge bg-success">Active</span>';
                            } else if (data === 0) {
                                return '<span class="badge bg-danger">Inactive</span>';
                            } else {
                                return '<span class="badge bg-secondary">Unknown</span>';
                            }
                        }
                    },
                    {
                        data: 'uq',
                        render: function (data, type, row) {
                            let element = `
                                <div class="d-flex justify-content-center">
                                    <span data-uq=${data} class="view-employees btn text-primary me-3">
                                        <i class="bi bi-eye"></i>
                                    </span>
                                    <span data-uq=${data} class="update-employees btn text-warning me-3">
                                        <i class="bi bi-pencil"></i>
                                    </span>
                                    <span data-uq=${data} class="delete-employees btn text-danger">
                                        <i class="bi bi-trash"></i>
                                    </span>
                                </div>`;
                            return element;

                        }
                    },
                ],
                dom: 'lBfrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],

            });
        }
        
        initDataTable();

        toastr.options = {
            closeButton: false,
            debug: false,
            newestOnTop: false,
            progressBar: true,
            positionClass: 'toast-top-right',
            preventDuplicates: false,
            onclick: null,
            showDuration: '300',
            hideDuration: '1000',
            timeOut: '5000',
            extendedTimeOut: '1000',
            showEasing: 'swing',
            hideEasing: 'linear',
            showMethod: 'fadeIn',
            hideMethod: 'fadeOut',
        };

        $('body').on('click', '#add-employees', function () {
            $.ajax({
                url: '{% url "employees:create-employees" %}',
                method: 'GET',
                success: function (result) {
                    $('#add-employees-modal .modal-content').html(result.form);
                    $('#add-employees-modal').modal('show');
                },
                error: function (result) {

                },
            });
        });
        $('body').on('click', '.update-employees', function () {
            let employee_uuid = $(this).data('uq');
            let url = '{% url "employees:update-employees" "temp" %}'.replace('temp', employee_uuid);
            
            $.ajax({
                url: url,
                method: 'GET',
                success: function (result) {
                    $('#add-employees-modal .modal-content').html(result.form);
                    $('#add-employees-modal').modal('show');
                },
                error: function (result) {

                },
            });
        });

        $('body').on('click', '#submit-add-employees', function () {
            let form = document.getElementById('add_employees_form');
            let form_data = new FormData(form);
            form_data.append(
                'csrfmiddlewaretoken',
                $('input[name=csrfmiddlewaretoken]').val()
            );
            $.ajax({
                url: '{% url "employees:create-employees" %}',
                method: 'POST',
                processData: false,
                contentType: false,
                data: form_data,
                success: function (result) {
                    $('span.text-danger').html('');
                    $('.is-invalid').removeClass('is-invalid');

                    if (result.success === true){
                        $('.modal-messages').css({ display: 'none' }).html('');
                        toastr['success'](result.toast_message);

                        initDataTable();
                        
                    }
                    else if (result.success === false) {
                        for (const keys in result.errors) {
                            $('#' + keys).addClass('is-invalid');

                            let error_list = '';
                            for (const err of result.errors[keys]) {
                                error_list += err + '<br>';
                            }

                            $('#' + keys).next('span.text-danger').html(error_list);
                        }

                        let messages_element = '';
                        for (const message of result.modal_messages) {
                            messages_element += `<li class= "${message.tags}">${message.message}</li>`;
                        }

                        $('.modal-messages').css({ display: 'block' }).html(messages_element);

                        toastr['error'](result.toast_message);
                    }
                    
                    $('#add-employees-modal').modal(result.is_close_modal === true ? 'hide' : 'show');
                },
                error: function (result) { 

                },
            });
        });
        $('#emp tfoot th.search-text').each(function () {
            var title = $(this).text();
            $(this).html('<input class="form-control" type="text" placeholder="Search ' + title + '" />');
        });

        
    });

</script>
<link rel="stylesheet" href="{% static 'employees/employees.css' %}">
{% endblock script_css %}

{% block content %}
{% include 'includes/navbar.html' %}
{% include 'includes/sidebar.html' %}

<div class="container-fluid my-1" style="width: 90%;">
    {% include 'employees/includes/add_employees_modal.html' %}
    
    <div class="row">
        <div class="col-md-2">
            <h3>Employees</h3>
        </div>
        <div class="col-md-1 mt-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="green" class="bi bi-plus-square-fill" viewBox="0 0 16 16" role="button" id="add-employees">
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
            </svg>
            &nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="green" class="bi bi-file-earmark-excel-fill" viewBox="0 0 16 16" role="button" id="import-employees">
                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.884 6.68 8 9.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 10l2.233 2.68a.5.5 0 0 1-.768.64L8 10.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 10 5.116 7.32a.5.5 0 1 1 .768-.64z" />
            </svg>
        </div>
    </div>
    <hr class="mt-0 mb-4">
    {% include 'employees/includes/employees_table.html' %}
</div>
{% endblock content %}