<div class="salary-components-wrapper">
    <table id="salary-components-table" class="stripe">
        <thead>
            <tr>
                <th id="uq-benefit" style="visibility: hidden;">uq benefit</th>
                <th>Name</th>
                <th>Benefit from</th>
                <th>Adjusted</th>
                <th>Description</th>
                <th>Type Value</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="d-none">uq benefit</th>
                <th class="search-text">Name</th>
                <th class="search-text">Benefit from</th>
                <th class="search-text">Adjusted</th>
                <th class="search-text">Description</th>
                <th class="d-none">Type Value</th>
                <th class="d-none">Value</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>