<div class="salaries-wrapper my-5 mt-0">
    <div class="row">
        <div class="col-md-5">
            <label for="period-filter" class="form-label"><b>Period</b></label>
            <select name="period-filter" id="period-filter" class="form-control"></select>
        </div>
        <div class="col-md-5">
            <label for="departments-filter" class="form-label"><b>Departments</b></label>
            <select name="departments-filter" id="departments-filter" class="form-control"></select>
        </div>
        <div class="col-md-2 my-2">
            <label class="form-label"></label>
            <input type="button" class="btn btn-success w-100" id="calculate-salary" value="Generate Salary">
        </div>
    </div>
</div>