<div class="salaries-wrapper">
    <table id="salaries-table" class="stripe">
        <thead>
            <tr>
                <th>NIK / Name</th>
                <th>Department</th>
                <th>Gross Salary</th>
                <th>Final Salary</th>
                <th>Period</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="search-text">NIK / Name</th>
                <th class="search-text">Department</th>
                <th class="search-text">Gross Salary</th>
                <th class="search-text">Final Salary</th>
                <th class="search-text">Period</th>
                <th class="d-none">Status</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>