<div class="settings-wrapper">
    <table id="settings-table" class="stripe">
        <thead>
            <tr>
                <th>OT Rate</th>
                <th>Lembur Rate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="search-text">OT Rate</th>
                <th class="search-text">Lembur Rate</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>