<div class="benefit-scheme-wrapper">
    <table id="benefit-scheme-table" class="stripe">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th class="search-text">Name</th>
                <th class="search-text">Description</th>
                <th class="d-none">Created At</th>
                <th class="d-none">Action</th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>